*{
    margin: 0;
    padding: 0;
}

.conteiner-principal{
    display: grid;
    grid-template: 10vh auto 10vh / auto;
}

.cabecalho{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 16px;
}

.botao-cabecalho{
    justify-self: end;
}

.conteiner-conteudo{
 display: grid;
 grid-template: 1fr / 1fr 2fr 1fr;   
}

.content-container{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.conteudo-lateral{
    padding: 16px;
}

.rodape{
    border-top: 1px solid black;
    padding: 0 16px;
    display: grid;
    justify-self: center;
    position: fixed;
    bottom: 70px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 20px;
}
